{% extends 'shared/base.html' %}

{% block title %}
	ویرایش کلمه عبور
{% endblock %}

{% block content %}
    <div class="col-mid-8">
        <h1>
            <a href="{% url 'user-pannel-page' %}">پنل کاربری</a><br>
            <a href="{% url 'edit-profile-page' %}">ویرایش پروفایل</a><br>
            <a href="{% url 'change_password-page' %}">تغییر رمز عبور</a><br>
            <a href="{% url 'list' %}">فروشگاه</a>
        </h1>
    </div>
    <hr>
    <h1>ویرایش کلمه عبور</h1>
    <form action="{% url 'change_password-page' %}" method="post">
        {% csrf_token %}
        <h2>{{ change_form.as_p }}</h2>
    <input type="submit">
    </form>
{% endblock %}